<?= $this->docType('HTML5'); ?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>

        <?php echo $this->headTitle() ?>
        <?php echo $this->headMeta() ?>
        <?php echo $this->headScript() ?>
        <?php echo $this->headStyle() ?>

    </head>
    <body class="home">

        <?php echo $this->layout()->content; ?>

    </body>
</html>
